.subss{
  margin-bottom: 100px;
  }
  
  .subss h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    font-family: 'Lexend', sans-serif;
    border-bottom: 2px solid #ffffff;
    width: 42.4%;
    margin: 0 auto;
    padding-top: 30px;
    margin-bottom: 40px;
  }
  
  .subscription-plans {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .plan {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    width: 300px;
    border-radius: 5%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  }
  
  .plan h2 {
    font-size: 24px;
    margin-top: 0;
    color: #1e87c8;
    font-family: 'Lexend', sans-serif;
  }
  
  .plan p.price {
    color: #666;
    font-size: 18px;
    margin: 10px 0 20px;
  }
  
  .plan ul {
    list-style: none;
    padding: 0;
  }
  
  .plan li {
    padding: 5px 0;
  }
  
  .button {
    background-color: #3cb1fa;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 7px;
    margin-top: 20px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #008adf;
  }